* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body{
  width: 100%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: auto;
}

header{
  background: url(../images/header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
}

.title{
  font-size: 50px;
  font-family: cursive;
  width: 100%;
  color: white;
  font-weight: bolder;
}

.mealcontrols{
  margin-top: 1%;
  margin-bottom: 1%;
}

#recipes .mix{
  display:none;
}

button{
  font-size: 128%;
  font-family: cursive;
  font-weight: bolder;
  background-color: white;
  border: none;
}

img{
  height: 343px;
  width: calc((100% - 15%) / 3);
  float: left;
  margin: 2.5%;
  display: block;
}

li, h5, h1{
  text-align: left;
}

h5, h1{
  color: rgba(121, 85, 72, 0.79);
}

h3, h4{
  text-align: left;
  font-style: italic;
}

ol, ul{
  font-family:arial;
}

.homepage{
  font-family: cursive;
  font-size: 1.25em;
  color: black;
  margin-top: 10%;
}

.recipecontent{
  background-color: rgba(115, 81, 68, 0.18);
  padding:8%;
  font-family: sans-serif;
  color: rgba(121, 85, 72, 0.79);
}

.recipeimage{
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75%;
}

.icon{
  display:none;
}


@media screen and (max-width:800px){

  header{
    font-size: 40px;
    padding: 45px;
  }

  img{
    height: 343px;
    width: calc((100% - 15%) / 2);
    float: left;
    margin: 2.5%;
  }

  .icon{
    display: block;
    height: 40px;
    width: 40px;
    margin: auto;
    margin-top: 2%;
  }

  .mealcontrols{
    display: none;
    font-size: 1em;
    
  }

  .mealcontrols button{
    display: block;
    margin: auto;
/*    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
  }

}

@media screen and (max-width:400px){
  
  img{
    height: 343px;
    width: calc((100% - 15%));
    float: left;
    margin: 2.5%;
  }

  header{
    font-size: 25px;
    padding: 40px;
  }

}

.header-tomatosoup {
  background-image: url(../images/homemade-tomato-soup-6.jpg);
}

.header-tomatosoup2 {
  background-image: url(../images/homemade-tomato-soup-1.jpg);
}

.header-tomatosoup3 {
  background-image: url(../images/homemade-tomato-soup-2.jpg);
}

.header-honeyribs {
  background-image: url(../images/braised_spare_ribs.jpg);
}

.header-honeyribs2 {
  background-image: url(../images/garlic_soy_braised_spare_ribs.jpg);
}

.header-crispypotato{
  background-image: url(../images/crispy_sweet_potato.jpg)
}

.header-crispypotato2{
  background-image: url(../images/crispy_sweet_potato2.jpg)
}

.header-crispypotato3{
  background-image: url(../images/crispy_sweet_potato4.jpg)
}

.header-lambchop{
  background-image: url(../images/lamb_21.jpg)
}

.header-lambchop2{
  background-image: url(../images/lamb-chops.jpg)
}

.header-lambchop3{
  background-image: url(../images/lamb-rub.jpg)
}

.header-lambchop4{
  background-image: url(../images/lambfinished.jpg)
}

.header-pumpkinbakedoatmeal{
  background-image: url(../images/pumpkin_baked_oatmeal.jpg)
}

.header-pumpkinbakedoatmeal2{
  background-image: url(../images/pumpkin_baked_oatmeal3.jpg)
}

.header-pumpkinbakedoatmeal3{
  background-image: url(../images/pumpkin_baked_oatmeal2.jpg)
}

.header-slicedpumpkin{
  background-image: url(../images/pumkin-bread-sliced.jpg)
}

.header-pumpkinpan{
  background-image: url(../images/pumpkin-bread-in-pan.jpg)
}

.header-pumpkinbread{
  background-image: url(../images/pumpkin-bread-with-butter-honey.jpg)
}

.header-pullapartbread{
  background-image: url(../images/pull_apart_bread.jpg)
}
.header-pullapartbread2{
  background-image: url(../images/pullapartbread.jpg)
}

.header-sausagegnocchi{
  background-image: url(../images/sausage_kale_baked_gnocchi.jpg)
}

.header-sausagegnocchi2{
  background-image: url(../images/sausage_kale_gnocchi3.jpg)
}

.header-ropavieja{
  background-image: url(../images/ropavieja_2.jpg)
}

.header-ropavieja2{
  background-image: url(../images/ropavieja_herbs.jpg)
}
.header-ropavieja3{
  background-image: url(../images/ropavieja_finished.jpg)
}

.header-frenchtoast{
  background-image: url(../images/pumpkin-bread-french-toast.jpg)
}
.header-frenchtoast2{
  background-image: url(../images/pumpkin-bread-french-toast2.jpg)
}

.header-turkeyspaghetti{
  background-image: url(../images/turkey_stuffed_squash2.jpg)
}

.header-turkeyspaghetti2{
  background-image: url(../images/turkey_stuffed_squash3.jpg)
}

.header-turkeyspaghetti3{
  background-image: url(../images/turkey_stuffed_squash.jpg)
}

.header-slowcookercreolechicken{
  background-image: url(../images/creole-chicken.jpg)
}

.header-slowcookercreolechicken2{
  background-image: url(../images/creole-chicken2.jpg)
}

.header-ChocolateChipCookie{
  background-image: url(../images/chocolate-chip-cookie2.jpeg)
}

.header-ChocolateChipCookie2{
  background-image: url(../images/chocolate-chip-cookies9.jpg)
}

.header-ChocolateChipCookie3{
  background-image: url(../images/chocolate-chip-cookies-dough.jpg)
}

.header-ChocolateChipCookie4{
  background-image: url(../images/chocolate-chip-cookies.jpg)
}

.header-crabcake{
  background-image: url(../images/crabcake2.jpg)
}

.header-crabcake2{
  background-image: url(../images/crabcake.jpg)
}

.header-uni{
  background-image: url(../images/uni-risotto.jpg)
}

.header-uni2{
  background-image: url(../images/uni.jpg)
}


.header-yellowtail{
  background-image: url(../images/yellowtail-crudo2.jpg)
}

.header-yellowtail2{
  background-image: url(../images/radishes.jpg)
}

.header-yellowtail3{
  background-image: url(../images/yellowtail-crudo.jpg)
}

.header-yellowtail4{
  background-image: url(../images/shiso-leaves.jpg)
}

.header-cake{
  background-image: url(../images/double-chocolate-cake-with-buttercream-frosting.jpg)
}

.header-cake2{
  background-image: url(../images/buttercream.jpg)
}

.header-cake3{
  background-image: url(../images/double-chocolate-cake-with-buttercream-frosting2.jpg)
}

.header-ball{
  background-image: url(../images/peanut-butter-cookie-dough-balls.jpg)
}

.header-ball2{
  background-image: url(../images/peanut-butter-balls.jpg)
}

.header-ball3{
  background-image: url(../images/peanut-butter-cookie-dough-balls2.jpg)
}

.header-shrimp{
  background-image: url(../images/shrimp-garlic-bread-sauce.jpg)
}

.header-shrimp2{
  background-image: url(../images/shrimp.jpg)
}

.header-shrimp3{
  background-image: url(../images/shrimp-garlic-bread-sauce2.jpg)
}

.header-shrimp4{
  background-image: url(../images/food-processor.jpg)
}

.header-Sausagestrata{
  background-image: url(../images/sausage-stratta.jpg)
}

.header-Sausagestrata2{
  background-image: url(../images/sausage-stratta-bread.jpg)
}

.header-Sausagestrata3{
  background-image: url(../images/sausage-stratta2.jpg)
}

.header-Sausagestrata4{
  background-image: url(../images/sausage-stratta-cut.jpg)
}

.header-shakshuka{
  background-image: url(../images/shakshuka.jpg)
}
.header-shakshuka2{
  background-image: url(../images/shakshuka2.jpg)
}